<%- include("templates/header", {name: name, navLinks: navLinks}); %>

<div class="container my-5">
    <form action='/loggingin' method='post'>
        <div class="mb-3">
            <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" required>
        </div>
        <div class="mb-3">
            <input name='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("templates/footer"); %>


